# Entorno Virtual Python
venv/
env/
ENV/
bin/
lib/
include/
pip-selfcheck.json

# Archivos de entorno y secretos
.env
.env.local
.env.*.local
!.env.example

# Base de datos y logs
*.db
*.sqlite3
*.log
claustore  # Protegiendo tu archivo de base de datos específico que vi en la captura

# Carpetas de caché y sistemas
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.vscode/
.idea/

# Carpetas específicas de tu estructura
alembic/versions/*
!alembic/versions/.keep